.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    margin-bottom: 16px;
}

.container p {
    font-size: 16px;
    color: rgb(121, 121, 121);
}

.bold {
    font-weight: 600;
}

.content, .details {
    display: flex;
    justify-content: space-between;
}

.content img {
    width: 50%;
}

.essence {
    width: 45%;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.attention {
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}

.groupName {
    display: flex;
    font-weight: 600;
}