/*.card {
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 30px 20px;
    max-width: 300px;
}*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24%;
    height: 480px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    background: rgba(200, 200, 200, 0.2);
    padding: 30px 20px;
    margin: 0.5%;
    cursor: pointer;
}

.card:hover {
    background: white;
    border: 1px solid red;
}

.card  h2 {
    font-size: 1.2rem;
    color: #e83a4b;
}

.card p {
    color: #e83a4b;
}

.card img {
    object-fit: contain;
    height: auto;
}
