.container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal {
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 20px;
    margin: 100px auto;
} 