.container {
    position: relative;
    /*display: block;
    width: 200px;
    height: 100vh;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 88vh;
    margin: 5% auto;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    height: 88vh;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    place-items: center;
}

.formContent h2 {
    color: red;
    margin-bottom: 3%;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    color: rgb(135, 135, 135);
}

.formContent input, select {
    height: 30px;
}

.container label {
    margin-bottom: 20px;
}

.container input {
    width: 100%;
}

.formContent select {
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
}

.errors {
    font-size: 10px;
    color: red;
}

.imgWrapper {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: end;
}

.imgWrapper img {
    object-fit: contain;
    height: 80vh;
}
