/* поскольку App это корневая папка, и стили здесь лучше определять глобальные */
* {
  padding: 0;
  margin: 0;                     
  box-sizing: border-box;
}

body {
  max-width: 1920px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Lobster';
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster.otf);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  transition: all 500ms linear;
}

.dark {
  background: rgb(39, 39, 39);
  color: white;
}

.light {
  background: beige;
  color: blue;

}
