.container {
    max-width: 500px;
    display: flex;
    gap: 20px;
}

.container a {
    font-size: 18px;
    color: red;
    padding: 5px 10px;
}

.container a:hover {
    background: white;
    outline: 1px solid #e83a4b;
    border-radius: 20px;
    cursor: pointer;
}

