.container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: 0 auto;
}

.container a {
    font-size: 20px;
    text-decoration: aqua;
}

.minor_bean {
        width: 20%;
        object-fit:contain;
}
